.tag_complete{
	/**border-top: 1px solid #b0bec5;**/
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	width:100%;
	border-radius: 0px;
	cursor: text;
	display: block;
	/**background:#fcfdff;**/
	box-sizing: content-box;
	transition: all 0.3s;
}

.tag_complete_main .is_focused{
	border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.tag_complete .tags_container{
	padding:2px;
	display:inline;
	margin:auto 0;
}

.tag_complete .tag_input{
	all:unset;
	min-height:45px !important;
	background:none;
	display:inline;
	margin:unset;
	padding: unset;
	border:0 !important;
	width:unset;
	box-shadow: none !important;
}

.tag_complete .tags_container .tag{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #455a64;
  font-size: 16px;
  background: #dee1e2;
  padding: 6px 6px 6px 8px;
  text-decoration: none;
  margin:2px;
  display:inline-block;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
   user-select:none;
}	

.tag_complete .tags_container .tag .close:after{
	font-size:18px;
	padding:2px 4px 2px 4px;
	background:#bcbcbc;
	border:1px solid #bcbcbc;
	border-radius:3px;
	margin-left:5px;
	cursor: pointer;
	content: '\d7';
}


.tag_complete_main .hide{
	display:none;
}

.tag_complete_main .autocomplete{
	width:100%;
	background:#fcfdff;	
	display:block;
	position:relative;
	border:1px solid #b0bec5;
	border-top:0;
	z-index:1000000 !important;
	margin:0px;
	list-style: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius:3px;
	max-height:150px;
	overflow-y:auto;
}	

.tag_complete_main .autocomplete li{
	width:100%;
	padding:5px 8px 5px 8px;
	cursor:pointer;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.tag_complete_main .has_autocomplete{}